<!doctype html>
<html ng-app="metaVisualizationApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  
  <title> NoMaD Lab Meta Info</title>


  <link rel="stylesheet" href="pure-release-0.6.0/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="pure-release-0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="pure-release-0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="pure-release-0.6.0/custom.css">
  <script src="scripts/jquery-2.1.4.min.js"> </script>
  <script src="scripts/angular.min.js"> </script>
  <script src="scripts/checklist-model.js"> </script>
  <script src="scripts/controller.js"> </script>
  <script src="scripts/cytoscape.min.js"></script>
  <script src="scripts/dagre.min.js"></script>
  <script src="scripts/cytoscape-dagre.js"></script>
</head>
  <body ng-controller="AllDataController">
  <div class="pure-g">
    <h2 class="pure-u-2-3">NoMaD Repository Meta Info</h2>
    <div class="pure-u-1-3">
      <div class="pure-g">
        <div class="pure-u-1">
          Kind: {{dataToDisplay['kindStr']}}
        </div>
        <div class="pure-u-1">
          Gid: {{dataToDisplay['gid']}}
          </div> 
        </div>
    </div>
  </div>  
    <div id="searchPanel" class="pure-g">
      <input class="pure-u-8-24" type="text" ng-model="query"  size="30" placeholder="Search">
    </div>
    <div id="content" class="pure-g">  
      <div id="menu" class="pure-u-8-24 pure-menu pure-menu-scrollable custom-restricted" >
          <ul >
              <li ng-repeat="data in metaDataList | filter:query "> 
              <!-- <label>
-                    <input type="checkbox" checklist-model="searchList" checklist-value="data['name']">
-                  </label>              -->
                  <a href="" ng-click="display(data['name'])">
                  {{data['name']}}</a>  
              </li>
          </ul>
      </div>
      <div id="contentMore" class="pure-u-15-24">
        <div id="tags" class="pure-g">
                   <a class="pure-button pure-u-1 pure-u-md-1-1 pure-u-lg-11-24 button-custom" href="" ng-repeat="name in searchList" ng-click="addToList(name)">{{name}}</a>
        </div>
        <div class="pure-g">
          <div class="pure-u-15-24">
           <h1> {{dataToDisplay['name']}} </h1> 
           <div class ="description"> {{dataToDisplay['description']}} </div>
           <h2>Keys</h2>
           <div class="indent" ng-show="dataToDisplay['units'] != null" > units: {{ dataToDisplay['units'] }}</div>
           <div class="indent" ng-show="dataToDisplay['dtypeStr'] != null" >dtypeStr: {{ dataToDisplay['dtypeStr'] }}</div>
           <div class="indent" ng-show="dataToDisplay['shape'] != null" > shape: {{ dataToDisplay['shape'] }}</div>
           <div ng-show="dataToDisplay['superNames'].length">
           <h2>Ancestors</h2>
             <h3>Explicit parents</h3>
             <ul>
              <li class="indent" ng-repeat="names in dataToDisplay['superNames'] ">
                <span ><a href="" ng-click="display(names)">{{names}}</a></span>
              </li>
             </ul>
           </div>
           <h2 ng-show="dataToDisplay['children'].length">DirectChildrens</h2>
           <ul>
             <li class="indent" ng-repeat="names in dataToDisplay['children'] ">
               <span ><a href="" ng-click="display(names)">{{names}}</a></span>
             </li>
           </ul>
             <h2>All parents by type</h2>
             <div id="cy"></div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
