[submodule "src/main/resources/nomad-meta-info"]
  path = core/src/main/resources/nomad-meta-info
  url = ../nomad-meta-info.git

[submodule "python-common"]
	path = python-common
	url = ../python-common.git

[submodule "parser-cp2k"]
  path = parser-cp2k
  url = ../parser-cp2k.git

[submodule "parsers/fhi-aims"]
	path = parsers/fhi-aims
	url = ../parser-fhi-aims.git
