# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
*.pyc
*.bk
.DS_Store

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log

#emacs TAGS
TAGS

hdf5/CTestScript.cmake
hdf5/HDF4.tar.gz
hdf5/HDF5_orig.tar.gz
hdf5/HDF5.tar.gz
hdf5/hdf-java-2.11.0.tar
hdf5/HDFJAVALinuxCMake.cmake
hdf5/hdf-java.log
hdf5/hdf-java
hdf5/JPEG8b.tar.gz
hdf5/linux-native
hdf5/netcdf-4.3.3.1.tar.gz
hdf5/netcdf-4.3.3.1
hdf5/netcdf-4.3.3.1Build
hdf5/SZip.tar.gz
hdf5/ZLib.tar.gz

lib/
