head,body{
    max-height: 100%;
}
body{
    margin-top: 3px;
}
a{
	text-decoration: none;
    white-space: nowrap;
}
a:hover{
	background-color: #eee;
}
ul{
	list-style-type: none;
}
body{
	padding-left: 5px;
}
/* Customization to limit height of the menu */
.custom-restricted {
    height: 900px;
 /*   border: 1px solid gray; 
    border-radius: 4px;*/
}
#custom-menu-link{
    display: inline-block;
}

#contentMore {
        margin-left: 0.5em;
    }

.indent {
    padding-left: 15px;
}
.button-custom{
	margin: 2px 2px 2px 5px;
}
#cy {
    width: 800px;
    height: 500px;
/*    z-index: 999;*/
}
#circleSection {
    background-color: #EE0000;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    float:left;
}
#circleAbstractType {
    background-color: #00AAAA;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    float:left;
}
#circleConcreteValue {
    background-color: #333333;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    float:left;
}