<!-- Otherwise the directive doesn't work unless attached to a div that is not overridden by angular; Master directive sets height of other elements.-->
<div master>
    <div ng-include="'views/header.html'"></div>
</div>
<div class="container-fluid">
    <!--Main container for everything-->
    <div class="row">
        <!-- Search related Stuff-->
        <div class="col-xs-4 col-md-3 searchArea">
            <div class="row">
                <div class="col-xs-12 custom-restricted" id="menu" ng-style="style">
                    <ul >
                        <!--<li ng-repeat="data in metaDataList['metaInfos'] | filterBy: ['name','description']: query | filterRootAncestor:filter.selectedSection.section | filter:{allparents:filter.selectedType.name} | filter:{kindStr:filter.selectedMetaInfoType.name} | orderBy:'name'">-->
                        <li ng-repeat="data in metaDataList['metaInfos'] | searchAndQueryFilter:filter.search:filter.selectedSection.section:filter.selectedType.name:filter.selectedMetaInfoType.name:filter.hideDerived | orderBy:'name'">
                        <a href="#/{{version}}/{{data['name']}}">
                            {{data['name']}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Other Content-->
        <div  class="col-xs-8 col-md-9"  >
            <div  class="row mainContent" ng-style="style">
                <div class="col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-8" >
                        <h1 ng-style="set_color(dataToDisplay['derived'])"> {{dataToDisplay['name']}} </h1>
                    </div>
                    <div class="col-xs-12 col-md-4" style="text-align:right;">
                        <div>
                            {{dataToDisplay['gid']}}
                        </div>
                        <div >
                            {{dataToDisplay['kindStr']}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div>{{dataToDisplay['description']}}</div>-->
                            <!--<div ng-bind-html="dataToDisplay['description']"></div>-->
                            <div class="textTag row">
                                <div class="col-xs-3 col-md-2"> <b>Type:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{mappedNames.type(dataToDisplay['kindStr'])}}   </div>
                            </div>
                            <div class="textTag row">
                                <div class="col-xs-3 col-md-2"> <b>Description:</b> </div>
                                <div class="col-xs-9 col-md-10" dynamic="dataToDisplay['description']"> </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['referencedSections'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Referenced Sections:</b> </div>
                                <div class="col-xs-9 col-md-10">[<span ng-bind-html="dataToDisplay['referencedSections']"></span>] </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['dtypeStr'] != null">
                                <div class=" col-xs-3 col-md-2"> <b>Data Type:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{ dataToDisplay['dtypeStr'] }}   </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['shape'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Shape:</b> </div>
                                <div class="col-xs-9 col-md-10">[<span ng-bind-html="dataToDisplay['shape']"></span>]  </div>
                            </div>
                            <div class="textTag row" ng-show="dataToDisplay['units'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Units:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{ dataToDisplay['units'] }}   </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['derived'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Derived:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{ dataToDisplay['derived'] }} </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['redundant'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Redundant:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{ dataToDisplay['redundant'] }} </div>
                            </div>
                            <!--<div class="InfoText" ng-show="dataToDisplay['dtypeStr'] != null" ><b> dtypeStr:</b> </div>-->
                            <!--<div class="InfoText" ng-show="dataToDisplay['shape'] != null" > <b>Shape:</b> [{{ dataToDisplay['shape'] }}]</div>-->
                            <!--<div class="InfoText" ng-show="dataToDisplay['units'] != null" > <b>Units:</b> {{ dataToDisplay['units'] }}</div>-->
                            <div class="col-xs-12 col-md-8 " id="circles">
                                <div  class="col-xs-3"> <div id="circleSection"> </div> Section </div>
                                <div  class="col-xs-3 "> <div id="circleAbstractType"> </div> Abstract Type</div>
                                <div  class="col-xs-3 "> <div id="circleConcreteValue"> </div> Concrete Value</div>
                                <div  class="col-xs-3 "> <div id="circleDimension"> </div> Dimension</div>
                            </div>
                            <div  class="col-xs-12 col-md-4">
                                <button type="button" class="btn btn-primary" ng-click="zoomToggle()">{{DAG.zoomText}}</button>
                                <button type="button" class="btn btn-primary" ng-click="reset()">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div >
                                <div id="cy" ng-style="cyCSS"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-show="dataToDisplay['superNames'].length">
                                <h2>Ancestors</h2>
                                <h3>Explicit Parents</h3>
                                <ul>
                                    <li class="indent" ng-repeat="superName in dataToDisplay['superNames'] ">
                                        <span ><a href="#/{{version}}/{{superName}}">{{superName}}</a></span>
                                    </li>
                                </ul>
                            </div>
                            <h2 ng-show="dataToDisplay['children'].length">Direct Children</h2>
                            <ul>
                                <li class="indent" ng-repeat="child in dataToDisplay['children'] ">
                                    <span ><a href="#/{{version}}/{{child}}">{{child}}</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
