<div class="container-fluid">
    <!--Main container for everything-->
    <div class="row">
        <div master class="col-xs-12 header">
            <div class="row">
                <h2 class="col-xs-6 col-md-3">NOMAD Meta Info</h2>
                <!--<h3 > Version </h3>-->
                <span class="col-xs-6 col-md-3 p-x-2"> <input type="checkbox" ng-model="showOnlyDerived"> Show only derived </span>
                <div class="col-xs-6 col-md-3 col-md-offset-3 versionBox" >
                    <ui-select ng-model="version" ng-change="versionChange(version)" theme="bootstrap" ng-disabled="disabled" close-on-select="true"  title="Select a version">
                        <ui-select-match placeholder="Select a version">{{mappedNames.version($select.selected)}}</ui-select-match>
                        <ui-select-choices repeat="version in versions | filter:$select.search">
                            {{mappedNames.version(version)}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-md-3 searchBox">
                    <input class="col-xs-12 style-1" type="text" ng-model="query" placeholder="Search">
                </div>
                <div class="col-xs-8 col-md-9">
                    <div class="col-xs-6 col-md-4 ">
                        <ui-select ng-model="filter.selectedSection" ng-change="filterChange(filter)" theme="bootstrap" ng-disabled="disabled"  close-on-select="true" title="Filter by Parent">
                            <ui-select-match placeholder="Select a parent in the list ">{{$select.selected.displayName}}</ui-select-match>
                            <ui-select-choices repeat="parents in filter.Sections| filter:$select.search ">
                                {{parents.displayName}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <ui-select ng-model="filter.selectedType" ng-change="filterChange(filter)" theme="bootstrap" ng-disabled="disabled"  close-on-select="true" title="Filter by Abstract Type">
                            <ui-select-match placeholder="Select a type in the list ">{{$select.selected.displayName}}</ui-select-match>
                            <ui-select-choices group-by="'parent'" repeat="type in filter.Types| filter:$select.search ">
                                {{type.displayName}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-6 col-md-4 ">
                        <ui-select ng-model="filter.selectedMetaInfoType" ng-change="filterChange(filter)" theme="bootstrap" ng-disabled="disabled"  close-on-select="true" title="Filter by Meta Info Type">
                            <ui-select-match placeholder="Select a type in the list ">{{$select.selected.displayName}}</ui-select-match>
                            <ui-select-choices repeat="type in filter.MetaInfoTypes| filter:$select.search ">
                                {{type.displayName}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div ng-show="false">
                        <div class="col-xs-9 col-md-10">
                            <ui-select multiple ng-model="combinedGraph.selectedMetaInfos" theme="bootstrap" ng-disabled="disabled" close-on-select="false" title="Choose meta data for the graph">
                                <ui-select-match placeholder="Select metadata for the graph">{{$item.name}} </ui-select-match>
                                <ui-select-choices repeat="metaInfo.name as metaInfo in metaDataList.metaInfos | filter: {name: $select.search}| orderBy:'name'">
                                    {{metaInfo.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div  class="col-xs-3 col-md-2" ng-show="true">
                            <button type="button" class="btn btn-primary" ng-click="drawGraph(manualLayoutSelection)">Draw Graph</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search related Stuff-->
        <div class="col-xs-4 col-md-3 searchArea">
            <div class="row">
                <div class="col-xs-12 custom-restricted" id="menu" ng-style="style">
                    <ul >
                        <!--<li ng-repeat="data in metaDataList['metaInfos'] | filterBy: ['name','description']: query | filterRootAncestor:filter.selectedSection.section | filter:{allparents:filter.selectedType.name} | filter:{kindStr:filter.selectedMetaInfoType.name} | orderBy:'name'">-->
                        <li ng-repeat="data in metaDataList['metaInfos'] | filterAllQueries:query:filter.selectedSection.section:filter.selectedType.name:filter.selectedMetaInfoType.name:showOnlyDerived | orderBy:'name'">

                        <a href="#/{{version}}/{{data['name']}}">
                            {{data['name']}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Other Content-->
        <div  class="col-xs-8 col-md-9"  >
            <div  class="row mainContent" ng-style="style">
                <div class="col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-8" >
                        <h1 ng-style="set_color(dataToDisplay['derived'])"> {{dataToDisplay['name']}} </h1>
                    </div>
                    <div class="col-xs-12 col-md-4" style="text-align:right;">
                        <div>
                            {{dataToDisplay['gid']}}
                        </div>
                        <div >
                            {{dataToDisplay['kindStr']}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div>{{dataToDisplay['description']}}</div>-->
                            <!--<div ng-bind-html="dataToDisplay['description']"></div>-->
                            <div class="textTag row">
                                <div class="col-xs-3 col-md-2"> <b>Type:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{mappedNames.type(dataToDisplay['kindStr'])}}   </div>
                            </div>
                            <div class="textTag row">
                                <div class="col-xs-3 col-md-2"> <b>Description:</b> </div>
                                <div class="col-xs-9 col-md-10" dynamic="dataToDisplay['description']"> </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['referencedSections'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Referenced Sections:</b> </div>
                                <div class="col-xs-9 col-md-10">[<span ng-bind-html="dataToDisplay['referencedSections']"></span>] </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['dtypeStr'] != null">
                                <div class=" col-xs-3 col-md-2"> <b>Data Type:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{ dataToDisplay['dtypeStr'] }}   </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['shape'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Shape:</b> </div>
                                <div class="col-xs-9 col-md-10">[<span ng-bind-html="dataToDisplay['shape']"></span>]  </div>
                            </div>
                            <div class="textTag row" ng-show="dataToDisplay['units'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Units:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{ dataToDisplay['units'] }}   </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['derived'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Derived:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{ dataToDisplay['derived'] }} </div>
                            </div>
                            <div  class="textTag row" ng-show="dataToDisplay['redundant'] != null">
                                <div class="col-xs-3 col-md-2"> <b>Redundant:</b> </div>
                                <div class="col-xs-9 col-md-10"> {{ dataToDisplay['redundant'] }} </div>
                            </div>
                            <!--<div class="InfoText" ng-show="dataToDisplay['dtypeStr'] != null" ><b> dtypeStr:</b> </div>-->
                            <!--<div class="InfoText" ng-show="dataToDisplay['shape'] != null" > <b>Shape:</b> [{{ dataToDisplay['shape'] }}]</div>-->
                            <!--<div class="InfoText" ng-show="dataToDisplay['units'] != null" > <b>Units:</b> {{ dataToDisplay['units'] }}</div>-->
                            <div class="col-xs-12 col-md-8 " id="circles">
                                <div  class="col-xs-3"> <div id="circleSection"> </div> Section </div>
                                <div  class="col-xs-3 "> <div id="circleAbstractType"> </div> Abstract Type</div>
                                <div  class="col-xs-3 "> <div id="circleConcreteValue"> </div> Concrete Value</div>
                                <div  class="col-xs-3 "> <div id="circleDimension"> </div> Dimension</div>
                            </div>
                            <div  class="col-xs-12 col-md-4">
                                <button type="button" class="btn btn-primary" ng-click="zoomToggle()">{{DAG.zoomText}}</button>
                                <button type="button" class="btn btn-primary" ng-click="reset()">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div >
                                <div id="cy"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-show="dataToDisplay['superNames'].length">
                                <h2>Ancestors</h2>
                                <h3>Explicit Parents</h3>
                                <ul>
                                    <li class="indent" ng-repeat="superName in dataToDisplay['superNames'] ">
                                        <span ><a href="#/{{version}}/{{superName}}">{{superName}}</a></span>
                                    </li>
                                </ul>
                            </div>
                            <h2 ng-show="dataToDisplay['children'].length">Direct Children</h2>
                            <ul>
                                <li class="indent" ng-repeat="child in dataToDisplay['children'] ">
                                    <span ><a href="#/{{version}}/{{child}}">{{child}}</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
